<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <link rel="stylesheet" href="/css/style-projects.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="real-main-container">
        <div class="sidebar-container">
          <div class="menu-container">
            <div class="top-menu-container">
              <div class="menu-icon">
                <img
                  src="/images/hamburger.png"
                  alt="menu-knop"
                  draggable="false"
                />
              </div>
              <div class="logo">
                <img src="/images/logo.png" alt="Logo" draggable="false" />
              </div>
            </div>
            <div class="bottom-menu-container">
              <div class="dashboard-container">
                <a href="/dashboard" class="dashboard">
                  <i class="icon-dashboard"></i>
                  <span>Dashboard</span>
                </a>
              </div>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul>
              <li>
                <a href="/projects" class="active">
                  <i class="icon-ui-elements"></i>
                  <span>Projecten</span>
                </a>
              </li>
              <% if (user.role_id === 3) { %>
              <li>
                <a href="/users">
                  <i class="icon-form-elements"></i>
                  <span>Gebruikers</span>
                </a>
              </li>
              <% } %>
              <li>
                <a href="/reports/hours">
                  <i class="icon-tables"></i>
                  <span>Rapporten</span>
                </a>
              </li>
              <li>
                <a href="/invoices">
                  <i class="icon-icons"></i>
                  <span>Facturen</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="container">
          <div class="top-container">
            <div class="search-bar">
              <i class="fas fa-search"></i>
              <input type="search" name="search" placeholder="Zoek Projecten" />
            </div>
            <% if (user.role_id === 3 || user.role_id === 2) { %>
            <button class="add-project" onclick="toggleForm()">
              <i class="fas fa-plus"></i> Project Toevoegen
            </button>
            <% } %>
          </div>
          <div class="sorting-container">
            <div class="sorting-name">
              <button class="sort-button" onclick="sortProjects('name')">
                Sorteer op Naam
              </button>
            </div>
            <div class="sorting-status">
              <button class="sort-button" onclick="sortProjects('status')">
                Sorteer op Status
              </button>
            </div>
          </div>
          <div class="content-container">
            <% if (projects.length === 0) { %>
            <p>Geen projecten vermeld.</p>
            <% } else { %> <% projects.forEach(project => { %>
            <div class="project-details" onclick="toggleDetails(this)">
              <div class="project-info">
                <div class="project-name"><%= project.name %></div>
                <div class="project-description">
                  <%= project.description %>
                </div>
                <div class="project-dates">
                  <%= project.start_date %> - <%= project.end_date %>
                </div>
              </div>
              <div class="additional-details">
                <div class="detail-container">
                  <div class="detail">Bedrijf: <%= project.company_name %></div>
                  <div class="detail">Contact: <%= project.contact_name %></div>
                  <div class="detail">
                    Adres: <%= project.company_address %>
                  </div>
                  <div class="detail">Postcode: <%= project.company_zip %></div>
                  <div class="detail">Land: <%= project.company_country %></div>
                </div>
              </div>
            </div>
            <% }) %> <% } %>
          </div>
        </div>
      </div>
    </div>

    <!-- Pop-up formulier -->
    <div id="popup-form" class="popup-form">
      <% if (user.role_id === 3 || user.role_id === 2) { %>
      <h2>Nieuw Project Toevoegen</h2>
      <% if (error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>
      <form action="/projects" method="post">
        <label for="name">Naam:</label>
        <input type="text" id="name" name="name" required />
        <label for="description">Beschrijving:</label>
        <input type="text" id="description" name="description" required />
        <label for="start_date">Startdatum:</label>
        <input type="date" id="start_date" name="start_date" required />
        <label for="end_date">Einddatum:</label>
        <input type="date" id="end_date" name="end_date" required />
        <label for="company_name">Bedrijfsnaam:</label>
        <input type="text" id="company_name" name="company_name" required />
        <label for="contact_name">Contactpersoon:</label>
        <input type="text" id="contact_name" name="contact_name" required />
        <label for="company_address">Bedrijfsadres:</label>
        <input
          type="text"
          id="company_address"
          name="company_address"
          required
        />
        <label for="company_zip">Postcode:</label>
        <input type="text" id="company_zip" name="company_zip" required />
        <label for="company_country">Land:</label>
        <input
          type="text"
          id="company_country"
          name="company_country"
          required
        />
        <button type="submit">Project Aanmaken</button>
      </form>
      <% } %>
    </div>
    <script>
      function toggleForm() {
        var popup = document.getElementById("popup-form");
        popup.classList.toggle("show");
      }

      function toggleDetails(container) {
        container.classList.toggle("expanded");
      }
    </script>
  </body>
</html>
